{% extends "base.html" %}
{% block content %}

<!--blog body area start-->
<div class="blog_details mt-60">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-9 col-md-12">
                <!--blog grid area start-->
                <div class="blog_wrapper">
                    <article class="single_blog">
                        <figure>
                           <div class="post_header">
                               <h3 class="post_title">{{blog.title}}</h3>
                                <div class="blog_meta">                                        
                                    <span class="author">Posted by : {% if user.is_superuser %}
                                            <a href="#">{{user.username}}</a>
                                        {% endif %}  / </span>
                                    <span class="post_date"><a href="#">{{blog.date_posted}}</a></span>
                                </div>
                            </div>
                            <div class="blog_thumb">
                               <a href="#"><img src="{{blog.blog_img.url}}" alt=""></a>
                           </div>
                           <figcaption class="blog_content">
                                <div class="post_content">
                                    <p>{{blog.details}}</p>
                                </div>
                                <div class="entry_content">
                                    <div class="post_meta">
                                        <span>Tags: </span>
                                        <span><a href="#">Drone, </a></span>
                                        <span><a href="#">Sky, </a></span>
                                        <span><a href="#">Fly</a></span>
                                    </div>

                                    <div class="social_sharing">
                                        <p>share this post:</p>
                                        <ul>
                                            <li><a href="#" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#" title="google+"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                           </figcaption>
                        </figure>
                    </article>
                    
                        <div class="comments_box">
                            <h3>Comments</h3>
                            {% if comments %}
                                {% for com in comments  %}
                                    <div class="comment_list">
                                        <div class="comment_thumb">
                                            <img src="assets/img/blog/comment3.png.jpg" alt="">
                                        </div>
                                        <div class="comment_content">
                                            <div class="comment_meta">
                                                <h5><a href="#">{{com.name}}</a></h5>
                                                <span>{{com.date_comment}}</span> 
                                            </div>
                                            <p>{{com.message}}</p>
                                            <div class="comment_reply">
                                                <a href="#">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                            <h3>There is no Comments</h3>
                            {% endif %} 
                        </div>
                    
                    {% if user.is_authenticated %}
                        <div class="comments_form">
                            <h3>Leave a Reply </h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                            <form action="{% url 'blog' blog.id %}" method='POST'>
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <label for="review_comment">Comment </label>
                                        <textarea name="message" id="review_comment" ></textarea>
                                    </div> 
                                    <div class="col-lg-4 col-md-4">
                                        <label for="author">User Name</label>
                                        <input id="author"  type="text" name='name'>

                                    </div> 
                                    <div class="col-lg-4 col-md-4">
                                        <label for="email">Email </label>
                                        <input id="email"  type="text" name='email'>
                                    </div>
                                </div>
                                <button class="button" type="submit">Post Comment</button>
                            </form>    
                        </div>
                    {% else %}
                        <h1>Before login for your feedback <a href="{% url 'login'%}">Click Here</a></h1>
                    {% endif %}
                     
                </div>
                <!--blog grid area start-->
            </div>
            <!--sidebar widget start-->
            <div class="col-lg-3 col-md-12">
                <div class="blog_sidebar_widget">
                    <div class="widget_list widget_search">
                        <h3>Search  Blogs</h3>
                        <form action="{% url 'blog_search' %}" method='POST'>
                            {% csrf_token %}
                            <input placeholder="Search..." type="text" name='blog_searched' >
                            <button type="submit">search</button>
                        </form>
                    </div>
                    <div class="widget_list widget_post">
                        <h3>Recent Posts</h3>
                        {% for blog in blogs %}
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="blog-details.html"><img src="{{blog.blog_img.url}}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h3><a href="{% url 'blog' blog.id %}">{{blog.title}}</a></h3>
                                    <span>{{blog.date_posted}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="widget_list widget_tag">
                        <h3>Tag products</h3>
                        <div class="tag_widget">
                            <ul>
                                <li><a href="#">Drone</a></li>
                                <li><a href="#">Sky</a></li>
                                <li><a href="#">Fly</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--blog section area end-->


{% endblock content %}